
@model StudentSclass

@{
    ViewData["Title"] = "AddStudentToCourse";
}


<div id="@("Student" + Model.Course.Id)">


    <h1>Students in  @Model.Course.CourseName<br /></h1>

    <div id="studentlist" align="center">


        @if (Model.Students != null)
        {
            @foreach (var item in Model.Course.Students)
            {

                <partial name="_StudentInClass" model="item" />
            }

           
        }

        else
        {


            <p>No students</p>
        }
            
    </div>
   
    








    <hr />

    <div id="allStudents">
        <h1>Students avalible</h1>
        @if (Model.Students != null)
        {
            @foreach (var item in Model.Students)
            {

                <partial name="_AddStudentCourseRow" model="new StudentSclass() { Course = Model.Course, student = item }" />
            }

        }

        else
        {


            <p>No students</p>
        }

    </div>

</div>