@model StudentSclass


@{
    ViewData["Title"] = "CourseStudent";
}


@{
    ViewData["Title"] = "AddStudentToCourse";
}


<div id="@("Student" + Model.Course.Id)">


    <h1>Students in  @Model.Course.CourseName<br /></h1>


   

    <div id="studentlist">
        <div align="center">
            <h4>List of student in Course</h4>
            @if (Model.Students != null)
            {
                @foreach (var item in Model.Students)
                {

                    <partial name="_StudentInClass" model="new StudentSclass() { Course =  Model.Course, student = item }" />
                }

            }

            else
            {


                <p>No students</p>
            }

        </div>

</div>






<div class="col-12" id="allStudent">
    <br />

    <div align="center">
        <h4>Add Student</h4>
        @if (Model.Students != null)
        {
            @foreach (var item in Model.Students)
            {

                <partial name="_AddStudentCourseRow" model="new StudentSclass() { Course =  Model.Course, student = item }" />
            }
        }

        else

        {
            <p>No students</p>


        }
    </div>

</div>

