@model  List<Teacher>
@{
    ViewData["Title"] = "AddTeacherToCourse";
}

<h1>AddTeacherToCourse</h1>

<div class="col-12" id="teacherlist">
    @foreach (var item in Model) 
    {
        <partial name="_Teacher" model="item" />

    }

</div>
