@model Course
@{
    ViewData["Title"] = "Create";
}
<h1>Create Student1</h1>
<div class="row">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" clas="text-info"></div>
            <div class="form-gruop">
              
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <label asp-for="Assigment" class="control-label"></label>
                <input asp-for="Assigment" class="form-control" />
                <span asp-validation-for="CourseName" class="text-info"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create32" class="btn btn-Success btn-sm" />
            </div>
        </form>


        <div>
            <a asp-action="Index">Back</a>
        </div>
    </div>
</div>