@model Course
@{
    ViewData["Title"] = "Details";
}
<h1>Course Details</h1>

<div class="row">
    <div class="col-3" style="background-color:aquamarine">@Model.CourseName</div>
    <div class="col-3"style="background-color:aquamarine">@Model.Assigment</div>
    @if (Model.Teacher != null)
    {



    <div class="col-3"style="background-color:aquamarine">@Model.Teacher.Name</div>
    }
</div>

    <a asp-controller="Course" asp-action="AddTeacherToCourse" asp-route-id="@Model.Id" class="btn btn-info btn-sm m-1">Add new Teacher</a>







