@model Course
@{
    ViewData["Title"] = "Details";
}
<h1>Course Details</h1>

<div class="row">
    <div class="col-3">@Model.CourseName</div>
    <div class="col-3">@Model.Assigment</div>
    @if (Model.Teacher != null)
    {



    <div class="col-3">@Model.Teacher.Name</div>
    }
</div>


<h2>Teacher in </h2>

   @*<div class="col-12" id="Teacherlist">
        @foreach (var item in Model.Teacher.Name)
        {

            <partial name="_Teacher" model="item" />
        }
    </div>*@

    <h2>Add Teacher</h2>

    
    <a asp-controller="Course" asp-action="AddTeacherToCourse" asp-route-id="@Model.Id" class="btn btn-info btn-sm m-1">Add new Teacher</a>







