@model List<Student>
@{
    ViewData["Title"] = "Courses";
}

<h2>Add a Course</h2>
<div class="col-12">
    <div class="row">
        <div class="col-3"><input type="text" id="Student" placeholder="Student name" class="bg-white text-dark" required /></div>
        <div class="col-3"><input type="text" id="Course" placeholder="Course name" class="bg-white text-dark" required /></div>
        <div class="col-3"><input type="text" id="Teacher" placeholder="Theacher" class="bg-white text-dark" required /></div>
        <div class="col-3"><button class="btn btn-success btn-sm"> Add Course</button></div>
    </div>
    </div>


