@model List<Student>

@{
    ViewData["title"] = "Index";
}
<h1>Student</h1>


<div class="10">

</div>
<div class=" row">
    <div class="col-4"><input type="text" name="Name" class="bg-black t " placeholder="Name" required /></div>
    <div class="col-3"><input type="text" name="CourseName" class="bg-black " placeholder="CourseName" reqired /></div>
    <div class="col-3"><input type="text" name="Email" class="bg-black " placeholder="Email" reqired /></div>
    <button class="btn btn-success btn-sm" onclick="Createstudent('@Url.Action("Create","Student")')">Save?</button>
  
</div>

<div id="studentlist">

    @foreach  (var Student in Model)
    {
      <partial name="_Student" model="Student"/>

      
    }

</div>
