@model List<Student>

@{
    ViewData["title"] = "Index";
}
<h1>Student</h1>


<div class="10">

</div>
<div class=" row">
<div class="col-4"><input type="text" name="Name" class="bg-black text-white "  placeholder="FirstName" required /></div>
<div class="col-3"><input type="text" name="CourseName"  class="bg-black text-white "  placeholder="LastName" reqired/></div>


<div id="studentList">

    @foreach  (var Student in Model)
    {
      <partial name="_Student" model="Student"/>
      
    }

</div>
</div>