body {
    background-color: #0034ff;
    
}
text{
    color:aliceblue
}

h1 {
    color: #000000;
}

h2 {
    color: #00d0ff;
    
}

h3 {
    color: #4cff00;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:55%;
}

