body {
    background-color: #808080;
    
}
text{
    color:aliceblue
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:55%;
}

