body {
    background-color: #808080;
    
}
text{
    color:aliceblue
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffd800;
    
}

h4 {
    color:cornsilk;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:55%;
}

